.top-to-btm{
    position: relative;
}
.icon-position{
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
}
.icon-style{
    /*background-color: rgb(46, 177, 161);*/
    background: rgb(0, 212, 255) linear-gradient(-90deg, rgba(0, 212, 255, 1) 0%, rgba(0, 255, 221, 1) 100%);
    border: 2px solid rgb(0, 212, 255);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #1C1D28;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
}
.icon-style:hover{
    animation: none;
    background: #fff;
    color: rgb(46, 177, 161);
    border: 2px solid rgb(46, 177, 161);
}
@keyframes movebtn {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}